@import url("reset.css");
@import url("utility.css");
@import url("variables.css");

body {
  background: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-color: var(--Very-Light-Grayish-Blue);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  font-size: 15px;
  font-family: var(--font-ff-montserrat);
}

.title {
  text-align: center;
  margin: 76px 0 40px;
  color: var(--Dark-Grayish-Blue);
}

.table-menu {
  margin-bottom: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-table {
  font-weight: bold;
  color: var(--Light-Grayish-Blue);
}

.switch-btn {
  width: 54px;
  margin: 0 22px;
  transition: opacity 0.5s ease;
}

.switch-btn:hover {
  opacity: 0.7;
}

.fas {
  color: hsl(237, 63%, 64%);
  transition: opacity 0.5s ease;
}

.fas:hover {
  opacity: 0.5;
}

.pricing {
  display: flex;
  justify-content: center;
}

.pricing__item {
  background: var(--white);
  flex-basis: 350px;
  align-self: center;
}

.pricing__item--active {
  background: var(--Linear-Gradient);
  height: 575px;
  border-radius: 10px;
  color: var(--Very-Light-Grayish-Blue);
}

.type {
  padding: 38px 0 40px;
  text-align: center;
  color: var(--Grayish-Blue);
}

.price {
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
  color: var(--Dark-Grayish-Blue);
}

.pricing__item--active .price {
  color: var(--Very-Light-Grayish-BlueLight-Grayish-Blue);
}

.icon {
  font-size: 32px;
  margin-right: 8px;
}

.service {
  border-top: 1px solid var(--Light-Grayish-Blue);
  text-align: center;
  margin: 0 30px;
  padding: 20px 0;
  color: var(--Grayish-Blue);
}

.more-btn {
  --Linear-Gradient: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border: 1px solid transparent;
  padding: 23px 0;
  margin: 33px 30px 31px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--Very-Light-Grayish-Blue);
  background: var(--Linear-Gradient);
  border-radius: 8px;
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease;
}

.more-btn:hover {
  background: transparent;
  color: hsl(237, 63%, 64%);
  border: 1px solid hsl(237, 63%, 64%);
}

.pricing__item--active .more-btn {
  background: var(--Very-Light-Grayish-Blue);
  color: hsl(237, 63%, 64%);
}

.pricing__item--active .more-btn:hover {
  border: 1px solid var(--Very-Light-Grayish-Blue);
  background: transparent;
  color: var(--Very-Light-Grayish-Blue);
}

.pricing__item--active .service {
  color: var(--Very-Light-Grayish-BlueLight-Grayish-Blue);
}

.pricing__item--active .type {
  color: var(--Very-Light-Grayish-BlueLight-Grayish-Blue);
}
